.delete-icon {
  background-image: url("../images/delete_control.jpg");
  background-position: no-repeat;
  width: 34px;
  height: 33px;
  border: none;
  padding: 0;
  display: none;
}

.reorder-handle {
  background-image: url("../images/row_reorder.jpg");
  background-repeat: no-repeat;
  background-position: 8px center;
  width: 32px;
  height: 32px;
  display: none;
}

.item-view .item-actions BUTTON.delete-button {
  height: 32px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: red;
  color: white;
  border: 0;
  display: none;
}

.listview-edit .item-view {
  display: table;
  width: 100%;
}
.listview-edit .item-view > * {
  display: table-cell;
  vertical-align: middle;
}
.listview-edit .delete-cell {
  width: 40px;
  text-align: center;
}
.listview-edit .delete-icon {
  display: inline;
}
.listview-edit .reorder-handle {
  display: inline-block;
}
.listview-edit .item-actions {
  width: 40px;
  padding: 0 10px;
}
.listview-edit .remove-confirm .delete-icon {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.listview-edit .remove-confirm .reorder-handle {
  display: none;
}
.listview-edit .remove-confirm .item-actions BUTTON.delete-button {
  display: inline;
}
