.tab-button {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  color: black;
  background-color: white;
  text-decoration: none;
  cursor: pointer; }
  .tab-button:hover {
    text-decoration: underline; }

.tab-button-container .selected {
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border-width: 1px 1px 0 1px;
  border-style: solid;
  border-color: #d5d5d5;
  cursor: default; }
  .tab-button-container .selected:hover {
    background-color: white;
    text-decoration: none;
    cursor: auto; }
.tab-button-container .action-view {
  display: inline-block;
  width: auto;
  padding: 5px 0 5px 10px; }

.tab-close {
  background: url("../images/close.png") transparent center center no-repeat;
  width: 34px;
  height: 33px;
  border: none;
  padding: 0; }
