$padding-x: 3px;
$padding-y: 3px;

@mixin border-box-sizing {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin opacity($o) {
  opacity: $o;
  filter: alpha(opacity=100*$o);
  -moz-opacity: $o;
  -ms-filter: "alpha(opacity="+100*$o+")";
}

@mixin action-cell {
  width: 32px;
  padding: $padding-y $padding-x;
  white-space: nowrap;

  &:hover {
    @include opacity(0.5);
  }
}

.action-view {
  @include border-box-sizing;
  display: table;
  width: 100%;

  > * {
    display: table-cell;
    vertical-align: middle;
  }

  .left-cell {
    text-align: left;
    @include action-cell;
  }

  .right-cell {
    text-align: right;
    @include action-cell;
  }
}