/* Depends on ActionView.css */

@mixin round-corner($r) {
  -moz-border-radius: $r;
  border-radius: $r;
}

@mixin linear-gradient($color1, $color2) {
  background-color: $color2;
  background-image: -moz-linear-gradient($color1, $color2);
  background-image: -webkit-linear-gradient($color1, $color2);
  background-image: linear-gradient($color1, $color2);
}

.delete-icon {
  background: url('../images/delete_control.jpg') transparent center center no-repeat;
  width: 34px;
  height: 33px;
  border: none;
  padding: 0;
}

.reorder-handle {
  background: url('../images/row_reorder.jpg') transparent 8px center no-repeat;
  width: 32px;
  height: 32px;
  cursor: move;
  display: inline-block;
}

.delete-button {
  height: 32px;
  @include round-corner(8px);
  color: white;
  border: 1px solid #d5d5d5;
  @include linear-gradient(#d3676a, #b71512);
}

.editable-list-view {
  .left-cell {
    display: none;
  }

  .right-cell {
    display: none;
  }

  .delete-button {
    display: none;
  }

  .listview-edit {
    .left-cell {
      display: table-cell;
    }

    .right-cell {
      display: table-cell;
    }

    .remove-confirm {
      .delete-icon {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
      }

      .reorder-handle {
        display: none;
      }

      .delete-button {
          display: inline-block;
      }
    }
  }
}